h2 {
  text-align: center;
}
.products-container {
  overflow-y: auto;
  height: 40vh;
  text-align: center;
  margin-bottom: 1em;
}

.product-div {
  box-shadow: black;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.add-to-cart {
  background-color: #555b6e;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}
